/pyavia/fatigue/AC23-13A Fig A1-1.spc
/pyavia/fatigue/AC23-13A Fig A1-4.spc
/pyavia/fatigue/AC23-13A Fig A1-5.spc
/pyavia/fatigue/AC23-13A Fig A1-16 Curve 1.spc
/pyavia/fatigue/AC 23-13A.pdf
/pyavia/loads/ac-500-u.inp
/examples/fatspec/AC-500-U-Spar.inp
/pyavia/fatigue/AC-500-U-Spar OLD.inp
/examples/fatspec/Scripts/activate
/pyavia/loads/Scripts/activate
/examples/fatspec/Scripts/activate.bat
/pyavia/loads/Scripts/activate.bat
/examples/fatspec/Scripts/Activate.ps1
/pyavia/loads/Scripts/Activate.ps1
/pyavia/fatigue/AFS-120 Fig 1.spc
/pyavia/fatigue/AFS-120 Fig 2.spc
/pyavia/fatigue/AFS-120 Fig 4.spc
/pyavia/fatigue/AFS-120 Fig 6.spc
/pyavia/fatigue/AFS-120 Fig 7.spc
/pyavia/fatigue/AFS-120-73-2 Fatigue Evaluation of Wing and Associated Structures on Small Airplanes (With Examples).pdf
/examples/fatspec/AFS-120-verify.inp
/pyavia/fatigue/AFS-120-verify.sp3
/pyavia/fatigue/AFS-120-verify01.sub
/pyavia/loads/boomerang-validation.inp
/pyavia/loads/Command
/examples/fatspec/Scripts/deactivate.bat
/pyavia/loads/Scripts/deactivate.bat
/pyavia/fatigue/Dummy-Pos-Range.spc
/.idea/dictionaries/Eric_J__Whitney.xml
/examples/fatspec/.idea/fatspec.iml
/pyavia/fatigue/fatspec2.py
/pyavia/jet.py
/examples/jet_example.py
/pyavia/loads/loadpars.py
/pyavia/fatigue/material_sn.py
/pyavia/fatigue/OLDER VERSIONS/material_sn OLD BUT WORKING 2019-07-16.py
/examples/fatspec/.idea/misc.xml
/.idea/misc.xml
/pyavia/loads/.idea/misc.xml
/.idea/modules.xml
/examples/fatspec/.idea/modules.xml
/pyavia/loads/.idea/modules.xml
/examples/fatspec/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/pyavia/loads/.idea/inspectionProfiles/Project_Default.xml
/.idea/Pyavia.iml
/examples/fatspec/Scripts/python.exe
/pyavia/loads/Scripts/python.exe
/examples/fatspec/Scripts/pythonw.exe
/pyavia/loads/Scripts/pythonw.exe
/examples/fatspec/pyvenv.cfg
/pyavia/loads/pyvenv.cfg
/pyavia/fatigue/quick_interp.py
/pyavia/fatigue/Raithby Data, Spectra Coding.xlsx
/pyavia/regostats.py
/pyavia/fatigue/spectra.py
/pyavia/fatigue/OLDER VERSIONS/spectra OLD BUT WORKING 2019-07-16.py
/examples/fatspec/stalls-30ksi.sp3
/examples/fatspec/stalls-30ksi01.sub
/examples/fatspec/stalls-aerobatic-spectrum.inp
/examples/fatspec/stalls-aerobatic-spectrum.out
/pyavia/loads/stalls-moment-estimates.inp
/pyavia/loads/stalls-moment-estimates.out
/pyavia/fatigue/test.out
/pyavia/fatigue/test.pl2
/pyavia/fatigue/test.py
/pyavia/loads/test_loadpars.py
/pyavia/loads/test_loadpars.txt
/.idea/vcs.xml
/pyavia/loads/.idea/Wing Loads.iml
/pyavia/loads/wingloads.py
/examples/fatspec/.idea/workspace.xml
/pyavia/loads/.idea/workspace.xml
/.idea/workspace (EricDesktop's conflicted copy 2019-09-20).xml
/.idea/workspace (teeny-netbook's conflicted copy 2019-11-21).xml
/.idea/workspace (EricDesktop's conflicted copy 2019-11-21).xml
